<html data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <title>Отметить студента на занятии</title>
    <link rel="stylesheet" href="/anim.css">
    <link rel="icon" href="/drawable/menu-id-svg.svg" type="image/svg">
    <link rel="stylesheet" href="/style-set.css">
</head>
    <body style="background:#BCBDC0; overflow: hidden;">

        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="z-index: 1;">
            <div class="container-fluid">
                <a class="navbar-brand">Отметить студента на занятии</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="./schedule">Раcписание</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="./setting">Настройки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Вернуться</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="h-100 d-flex justify-content-center align-items-center" style=" z-index: 2;">
            <div class="card" style="width: 18rem; margin-left:auto; margin-right:auto;">
                <form method="POST" action="./mark_a_student?_method=PUT" style="margin:0;">
                    <div class="card-header">
                        Выберите дату:
                    </div>
                    <ul class="list-group list-group-flush" id="ul_1">
                        <li class="list-group-item">
                            <div class="input-group d-flex align-items-stretch">
                                <input type="date" class="form-control" id="date_select" name="date_select">
                            </div>
                        </li>
                    </ul>
                    <div class="card-header">
                        Выберите группу:
                    </div>
                    <ul class="list-group list-group-flush" id="ul_2">
                        <li class="list-group-item">
                            <div class="input-group d-flex align-items-stretch">
                                <select class="form-select" name="group_name_list" id="list" required ></select>
                                <button type="submit" class="btn btn-primary" style="float: right;">Показать</button>
                            </div>
                        </li>
                    </ul>
                </form>
                <div class="card-header" id="ul_3_t" hidden>
                    Выберите предмет:
                </div>
                <ul class="list-group list-group-flush" id="ul_3" hidden>
                    <li class="list-group-item">
                        <select class="form-select" name="pair_list" id="list_two" required >
                        </select>
                        {{#if date}}
                            <span id="s_d" hidden>{{date}}</span>
                        {{/if}}
                        {{#if subject}}
                            <span id="o_sh" hidden>{{json subject}}</span>
                        {{/if}}
                        {{#if stud_group}}
                            <span id="o_sg" hidden>{{json stud_group}}</span>
                        {{/if}}
                        {{#if group_name_list}}
                            <span id="g_n" hidden>{{group_name_list}}</span>
                        {{/if}}
                    </li>
                </ul>
                <div class="card-header" id="ul_4_t" hidden>
                    Выберите студента:
                </div>
                <ul class="list-group list-group-flush" id="ul_4" hidden>
                    <li class="list-group-item">
                        <select class="form-select" name="stud_list" id="list_three" required >
                        </select>
                    </li>
                </ul>
                <ul class="list-group list-group-flush" id="ul_5" hidden>
                    <li class="list-group-item">
                        <button class="btn btn-primary w-100" id="change_button">Отметить на занятии</button>
                    </li>
                </ul>

                {{#if group_list}}
                    <span id="g_l" hidden>{{json group_list}}</span>
                    <script src="/design-js/mark_fix_page.js" hidden></script>
                {{/if}}
                {{#if error}}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="alert alert-primary col mb-3" role="alert" style="margin-top: 2px; text-align: center; font-size:small; padding:2px;">
                            {{error}}
                        </div>
                    </li>
                </ul>
                {{/if}}
            </div>
        </div>

        <script src="/design-js/swap_color.js" hidden></script>
        {{!-- <script src="/bootstrap/dist/js/bootstrap.bundle.min.js" hidden></script> --}}
    </body>
</html>